.tDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(32, 32, 7);
  height: 300px;
  width: 500px;
  font-size: larger;
  font-size: 3em;
  font-weight: bold;
  margin: 20px 10px 5px 10px;
}
