.tCount {
  flex-grow: 2;
  height: 210px;
  width: 850px;
  margin: 10px 10px 0px 30px;
  overflow-y: scroll;
  display: flex;
  font-size: 3em;
  justify-content: space-around;
  align-items: center;

}
